.collection {

  &Gallery {
    &-img {
      position: relative;
      padding-top: 100%;
      overflow: hidden;

      img {
        position: absolute;
        object-fit: contain;
        object-position: center;
        width: 100%;
        height: 100% !important;
        left: 0;
        top: 0;
      }
    }

    &-nav {
    /* the slides */
    .slick-slide {
        margin: 0 8px;
    }

    /* the parent */
    .slick-list {
        margin: 0 -8px;
    }

      .collectionGallery-img {
        img {
          object-fit: cover;
        }
      }
    }
  }

  &Single {
    --gap : 40px;

    @include flexbox();
    flex-wrap: wrap;
    gap: var(--gap);

    &-nav {
      width: 100%;
      position: relative;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-bottom: 30px;

      a {
        @include font-pack($size: 16px);
        text-transform: uppercase;
        position: relative;
        margin: 10px 0;

        &::after {
          position: absolute;
          content: '';
          background-image: url('../images/all/arrow.png');
          background-position: center;
          background-repeat: no-repeat;
          background-size: 28px;
          width: 28px;
          height: 20px;
          top: -5px;
        }

        &.navprev {
          padding-left: 40px;

          &::after {
            left: 0;
          }
        }

        &.navnext {
          padding-right: 40px;
          margin-left: auto;
          text-align: right;

          &::after {
            right: 0;
            transform: rotate(180deg);
          }
        }
      }

    }

    &-gallery {
      width: 50%;

      @media (max-width: $mdtablet) {
        width: 100%;
      }
    }

    &-content {
      flex: 1;
    }

    .content-body {
      font-family: $CanelaTextTrial;

      & ol, 
      & ul, 
      & p {
        color: #000;
      }
    }
  }

  &Page {
    --gap : 20px;

    @include flexbox();
    flex-wrap: wrap;
    gap: var(--gap);

    .collectionWrap {
      flex: 1;
    }
  }

  &Side {
    width: 100%;
    max-width: 300px;

    @media (max-width: $mdtablet) {
      max-width: 100%;
    }

    h4 {
      @include font-pack($family: $CanelaTextTrial, $size: 22px, $weight: 500);

      @media (max-width: $mntablet) {
        font-size: 20px;
      }
    }

    ul {
      padding: 10px 0 10px 40px;
      li {
        a {
          padding: 5px 0;
          @include font-pack($family: $CanelaTextTrial, $size: 16px, $colour: #5c5b59, $weight: 300);
        }
      }
    }
  }

  &Type {
    margin-bottom: 20px;
  }

  &Wrap {
    --gap : 40px;
    @include flexbox();
    flex-wrap: wrap;
    gap: var(--gap);
    margin-bottom: 220px;

    @media (max-width: $mxtablet) {
      --gap : 15px;
    }

    .collectionGroupItem {
      width: calc(100% / 4 - var(--gap) + (var(--gap) / 4));

      @media (max-width: $mxdesktop) {
        width: calc(100% / 3 - var(--gap) + (var(--gap) / 3));
      }

      @media (max-width: $mdtablet) {
        width: calc(100% / 2 - var(--gap) + (var(--gap) / 2));
      }
    }
  }


  &Group {
    --gap : 30px;
    @include flexbox();
    flex-wrap: wrap;
    gap: var(--gap);
    margin: 80px auto 220px;
    max-width: 800px;

    @media (max-width: $mntablet) {
      margin: 20px auto 120px;

      --gap : 15px;
    }

    &Item {
      width: calc(100% / 2 - var(--gap) + (var(--gap) / 2));

      &:hover {
        .collectionGroupItem-img {
          img {
            transform: scale(1.08);
          }
        }
      }

      &-img {
        position: relative;
        overflow: hidden;
        padding-top: 150%;

        img {
          position: absolute;
          object-fit: cover;
          object-position: center;
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          transition: 0.4s ease;
        }
      }

      h4 {
        @include font-pack($family: $CanelaTextTrial, $size: 24px);

        @media (max-width: $mntablet) {
          font-size: 18px;
        }
      }
    }
  }
}

.post-type-archive-collection {
  .pageHead {
    h4 {
      color: #606060;

      @media (max-width: $mntablet) {
        font-size: 13px;
      }
    }

    .mb-60 {
      @media (max-width: $mntablet) {
        margin-bottom: 30px;
      }
    }
  }
}